html,
body {
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at center, #160909 0%,#160909 45%,#291111 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pumpkin {
    height: 11em;
    width: 15em;
    background: #fdfcfc;
    border: 0.4em solid #8056a0;
    border-radius: 70%/110%;
    position: relative;
    box-shadow: inset 0 0px 20px #ffffff, 0 0 30px -4px rgb(255, 255, 255);
    z-index: 1;
    animation: float 3s infinite;
}

.pumpkin .texture {
    height: 10.8em;
    width: 6.5em;
    position: absolute;
    bottom: -0.4em;
    left: 4em;
    border-radius: 70%/130%;
    border-bottom: 0.5em solid #8056a0;
    border-top: 0.5em solid #8056a0;
  }

  .pumpkin .texture:after {
    content: "";
    display: block;
    height: 10.7em;
    width: 12em;
    position: absolute;
    bottom: -0.4em;
    left: -2.5em;
    border-radius: 70%/130%;
    border-bottom: 0.5em solid #8056a0;
    border-top: 0.5em solid #8056a0;
  }

  .pumpkin .root {
    background: #8056a0;
    height: 2.8em;
    width: 1.25em;
    position: absolute;
    left: calc(7.5em - 0.625em);
    top: -2.7em;
    transform: rotate(5deg);
    border-radius: 30% 20% 70% 10%;
    z-index: -1;
    box-shadow: inset 0 0px 10px #8056a0;
  }

 .pumpkin .eye {
    position: absolute;
    width: 2em;
    height: 1em;
    border: 0.3em solid #020202;
    border-top: none;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    top: 3em;
}

.pumpkin .eye.left {
    left: 3.5em;
}

.pumpkin .eye.right {
    right: 3.5em;
}

  .pumpkin .mouth {
    width: 4em;
    height: 2em;
    position: absolute;
    bottom: 1.5em;
    border-bottom: 1em solid #742039;
  }

  .pumpkin .mouth.right {
    right: 3.6em;
    border-radius: 0 0 100% 0;
  }

  .pumpkin .mouth.left {
    left: 3.6em;
    border-radius: 0 0 0 100%;
  }
  
 .shadow {
    margin: 10% auto 0;
    background: #000;
    width: 230px;
    height: 50px;
    border-radius: 50%;
    animation: zoom 3s infinite;
  }

  @keyframes float {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10%);
    }
  }

  @keyframes zoom {
      0%, 100% {
          transform: scale(1);
      }

      50% {
          transform: scale(0.8);
      }
  }





.pumpkin .ear {
    position: absolute;
    top: -2em;
    width: 0;
    height: 0;
    border-left: 1.8em solid transparent;
    border-right: 1.8em solid transparent;
    border-bottom: 3em solid rgb(221, 214, 214);
    z-index: 3;
}

.pumpkin .ear.left {
    left: 1.5em;
    transform: rotate(-15deg);
}

.pumpkin .ear.right {
    right: 1.5em;
    transform: rotate(15deg);
}


.pumpkin .ear.left { left: 1.5em; }
.pumpkin .ear.right { right: 1.5em; }

.bow {
    position: absolute;
    top: -1.5em;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
    animation: bow-sway 2s infinite ease-in-out alternate;
}

@keyframes bow-sway {
    0% { transform: translateX(-50%) rotate(-2deg); }
    50% { transform: translateX(-50%) rotate(2deg); }
    100% { transform: translateX(-50%) rotate(-2deg); }
}


.bow-left, .bow-right {
    width: 3em;
    height: 3em;
    background: #8056a0;
    border-radius: 50%;
    display: inline-block;
    position: relative;
}

.bow-left::before, .bow-left::after,
.bow-right::before, .bow-right::after {
    content: '';
    position: absolute;
    width: 0.5em;
    height: 0.5em;
    background: 8056a0;
    border-radius: 50%;
}

.bow-left::before { top: 0.5em; left: 0.5em; }
.bow-left::after { bottom: 0.5em; right: 0.5em; }
.bow-right::before { top: 0.5em; right: 0.5em; }
.bow-right::after { bottom: 0.5em; left: 0.5em; }

.bow-left { transform: rotate(-20deg); }
.bow-right { transform: rotate(20deg); }

.bow-center {
    width: 1.2em;
    height: 1.2em;
    background: #8056a0;
    border-radius: 50%;
    position: absolute;
    top: 0.9em;
    left: 50%;
    transform: translateX(-50%);
}

.bow {
    position: absolute;
    top: -1.5em;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;

    width: 7em;
    display: flex; 
    justify-content: center;
    gap: 0.5em;

    animation: bow-sway 2s infinite ease-in-out alternate;
}